body {
    background-image: url("../img/grass_bg.jpg");
}

.day {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.execution__icon {
    max-width: 40%;
    max-height: 100px;
}

.execution__date {
    float: right;
}

.glyphicon {
    float: right;
    clear: both;
    right: 10px;
    margin-top: 30px;
}

.executions .expanded .glyphicon-chevron-down {
    transform: rotateX(180deg);
}

.details {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.4s;
}

.expanded .details {
    max-height: 700px;

}

.detail {
    width: 50%;
    float: left;
}

@media(max-width: 700px) {

    .day {
        width: 100%;
    }

    .details .detail {
        width: 100%;
    }
}
